<!-- templates/main/feed.html -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">Feed</h1>

     <!-- Centered Create Post Button -->
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('action.create_post') }}" class="btn btn-primary btn-lg mb-3">Create Post</a>
    </div>

    <div class="d-flex justify-content-center">
      <!-- Display Feed Posts -->
        {% for post in feed_posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <small>By: {{ post.author.username }} | Date: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
        </div>
        {% endfor %}
    </div>

{% endblock %}
