{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

    <h1>Welcome, {{ current_user.username }}!</h1>

    <hr>
    <h2>My Posts</h2>
    <hr>

    {% for post in user_posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <small>By: {{ post.author.username }} | Date: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small>
        </div>
    {% endfor %}

    <hr>

  <a href="{{ url_for('auth.create_post') }}">Create a new post</a>
{% endblock %}
